<div class="nav--bar">
  <nav>
    <ul>
      
      <li class="start">
        <a href="">Chill Store</a>
      </li>

      <li class="end">
        <a href="">H Menu</a>
      </li>
    </ul>
  </nav>
</div>

<h1>Products</h1>

<div class="products--grid">
    <div *ngFor="let element of products">
      <img class="imageFor" [src]="element.image">
      <p>{{element.price}}</p>
      <p>{{element.name}}</p>
    </div>
</div>


<hr>

<footer>
  <ul class="nav--grid">
    <li><a href="">Test</a></li>
    <li><a href="">Test</a></li>
    <li><a href="">Test</a></li>
    <li><a href="">Test</a></li>
  </ul>
</footer>
